* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0D1B2A; /* Nero bluastro */
  font-family: 'Roboto', sans-serif;
  color: #E0E1DD; /* Bianco sporco */
  overflow: hidden;
  position: relative;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  width: 600px;
  background-color: rgba(13, 27, 42, 0.9); /* Nero bluastro trasparente */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spaziatura uniforme tra gli elementi */
}

.banner {
  width: 100%;
  height: 150px;
  background: url('banner.gif') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Ombra nera */
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.title {
  font-size: 36px;
  color: #FFFFFF; /* Bianco acceso */
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000; /* Ombra nera */
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spaziatura uniforme tra gli elementi */
}

label {
  display: block;
  color: #A9A9B3; /* Grigio chiaro */
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  background-color: #1B263B; /* Blu scuro */
  color: #E0E1DD; /* Bianco sporco */
  border: 1px solid #415A77; /* Blu medio */
  border-radius: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

input[type="text"]:focus {
  border-color: #778DA9; /* Blu chiaro */
}

.emoji-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

.emoji-menu {
  position: relative;
  display: inline-block;
}

.emoji-button {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #415A77; /* Blu medio */
  border: none;
  color: #E0E1DD; /* Bianco sporco */
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

.emoji-button:hover {
  background-color: #778DA9; /* Blu chiaro */
}

.emoji-picker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#emoji-picker-container {
  background-color: rgba(13, 27, 42, 0.8); /* Nero bluastro trasparente */
  border: 1px solid #415A77; /* Blu medio */
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Ombra nera */
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.separator-section {
  margin-bottom: 10px;
}

.spacing-section {
  margin-bottom: 10px;
}

select {
  padding: 12px;
  background-color: #1B263B; /* Blu scuro */
  color: #E0E1DD; /* Bianco sporco */
  border: 1px solid #415A77; /* Blu medio */
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  appearance: none;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

select:focus {
  border-color: #778DA9; /* Blu chiaro */
}

button {
  width: 100%;
  padding: 12px 20px;
  background-color: #415A77; /* Blu medio */
  color: #E0E1DD; /* Bianco sporco */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

button:hover {
  background-color: #778DA9; /* Blu chiaro */
}

p {
  margin-bottom: 10px;
  color: #E0E1DD; /* Bianco sporco */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

#formatted-text {
  height: 50px;
  width: 100%;
  padding: 12px;
  background-color: #1B263B; /* Blu scuro */
  color: #E0E1DD; /* Bianco sporco */
  border: 1px solid #415A77; /* Blu medio */
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
  transition: border-color 0.3s;
  position: relative;
}

#formatted-text.placeholder {
  color: #778DA9; /* Blu chiaro per il placeholder */
  height: 50px;
}

.success-animation {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.success-animation.fade-out {
  opacity: 0;
}

.copy-message {
  display: none;
  color: #43B581; /* Verde */
  margin: 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

.attribution {
  font-size: 12px;
  text-align: center;
  color: #A9A9B3; /* Grigio chiaro */
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

.attribution span {
  font-weight: bold;
  color: #E0E1DD; /* Bianco sporco */
  padding-top: 15px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

.emoji-container {
  background-color: #1B263B; /* Blu scuro */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

.emoji {
  background-color: #1B263B; /* Blu scuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra nera */
}

button {
  margin-top: 10px;
  margin-bottom: 15px;
}

#close-emoji-picker {
  margin-top: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 80%;
    }
}

html, body {
  cursor: url('cursor.png'), default;
}